.trendingItem{
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #474747;
    margin: 4vh 0;
}

@media screen and (max-width: 900px) {

    .trendingItem{
        font-size: 17px;
        margin: 2vh 0;
    }
    
}