@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Almarai', sans-serif;
}

.style-padding{
  padding: 7vh 7vw;
}

@media screen and (max-width: 1030px) {
  .style-padding{
    padding: 7vh 4vw;
  }
}

@media screen and (max-width: 837px) {
  .style-padding{
    padding: 7vh 1vw;
  }
}